project_0/
**/__pycache__/
PY_10_Введение в Pandas/
PY_11_Базовые приемы работы с данными в Pandas/
PY_12_Продвинутые методы работы в Pandas/
PY_13_Визуализация/
PY_14_Очистка данных/
PY_15_ООП в Python
PY_16_Оформление репозитория Git/
