project_0/
PY_10_Введение в Pandas/
PY_11_Базовые приемы работы с данными в Pandas/
PY_12_Продвинутые методы работы в Pandas/
PY_13_Визуализация/
PY_14_Очистка данных/
PY_15_ООП в Python/
PY_16_Оформление репозитория Git
Game 'Guess number' copy.ipynb
.IDE
game_v2.py
game.py
README_.md
requirements_.txt
Проект_0_угадай_число_baseline.ipynb
dst-3.0_16_1_hh_database.csv
**/__pycache__/
PY_16_2_Выгрузка данных из файлов разных форматов
PY_17_API данные из веб-источников
Python and SQL
Разведывательный анализ данных
.vscode
Public_project
EDA. Проектирование экспериментов
Project_3. Анализ зарплат data Science
Project_2. Анализ вакансий сайта HeadHunter
Project_1. Анализ резюме из hh
Kaggle
*.idea
*data
*.html
шаблон EDA_Project_3_model.ipynb
Functions_ML
ML2_Линейная регрессия
ML3_Классификация
ML4_Clustering.Обучение без учителя
ML5_Validation, quality of model
ML6_Отбор и селекция признаков
_train_sem09__1_.zip
ML-7.Optimization_of_hyperparameters.ipynb
ML8_Продвинутые методы ML
catboost_info
*.zip
Project_4_ML_solution.ipynb
Stepik
Bonus.ipynb
README sample.md
Мат анализ
Project-5._Trip_duration_for_taxi for kaggle.ipynb
Временные ряды
a_project_venv
microservice_architecture
lightfm
microservice_compose_2
project_b_venv
Streamlit Titanic
web
A-B тестирование
Рекомендательные системы
Внедрение в продакшн
ghana_gdp.zip
mircoservice_docker_compose














