project_0/
PY_10_Введение в Pandas/
PY_11_Базовые приемы работы с данными в Pandas/
PY_12_Продвинутые методы работы в Pandas/
PY_13_Визуализация/
PY_14_Очистка данных/
PY_15_ООП в Python/
PY_16_Оформление репозитория Git
Game 'Guess number' copy.ipynb
.IDE
game_v2.py
game.py
README_.md
requirements_.txt
Проект_0_угадай_число_baseline.ipynb
dst-3.0_16_1_hh_database.csv
**/__pycache__/
PY_16_2_Выгрузка данных из файлов разных форматов
age.png
age_exper.png
employment.png
experience.png
sal_age_educ.png
sal_city.png
sal_educ.png
sal_exper_city.png
sal_trip.png
salary.png
salary0.png





